<style type="text/css">
  
</style>



<header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
  <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
  <div class="navbar-nav flex-row">
    <!-- NAVIGATION -->
    <!-- <a class="nav-item nav-link ml-2 ml-md-0 mr-2 mr-md-0" href="/contact">Help</a> -->
    <!-- Only in desktop nav -->
    <div class="nav-item dropdown d-none d-sm-block">
      <a class="nav-link dropdown-toggle" id="header-account-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About me</a>
      <div class="dropdown-menu account-menu" aria-labelledby="header-account-menu-link">
        <a class="dropdown-item" href="/account">Books</a>
        <a class="dropdown-item" href="/logout">World Building</a>
      </div>
    </div>
    <!-- Only in mobile nav -->
    <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/account">Account Settings</a>
    <a class="nav-item nav-link ml-2 mr-2 d-block d-sm-none" href="/logout">Sign out</a>
  </div>
</header>