<div id="spring-book-2" v-cloak>
  <div class="top-bar">
    <header id="top-bar-nav" class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
      <div class="nav-links">
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/fiction">Fiction</a>
        <a class="navbar-link" href="/games">Games</a>
        <a class="navbar-link" href="/blogs">Blogs</a>
        <a class="navbar-link" href="/contact">Contact</a>
      </div>
    </header>
  </div>
  <a name="top"><div class="cover-background"></a>
    <h1>Diamondcrabs and Mangoes</h1>
    <div class="links">
      <a href="https://www.amazon.com/Diamondcrabs-Mangoes-Interstellar-Spring-Book/dp/1521206309/ref=pd_bxgy_14_img_2?_encoding=UTF8&pd_rd_i=1521206309&pd_rd_r=8e6e0ea3-9738-11e8-820a-e37f2a2f8816&pd_rd_w=V162w&pd_rd_wg=Xdm2F&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=7ca3846a-7fcf-4568-9727-1bc2d7b4d5e0&pf_rd_r=G6QQP18VCTEKYTAW7F3E&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=G6QQP18VCTEKYTAW7F3E" target="_blank"><h3>Buy now</h3></a>
      <a href="#story"><h3>Story</h3></a>
      <a href="#excerpt"><h3>Excerpt</h3></a>
      <a href="#reviews"><h3>Reviews</h3></a>
    </div>
    <div class="book-cover">
      <img src="/images/diamond-cover.jpg">
    </div>
  </div>
  <div class="container">
    <a name="reviews"><div class="review-section"></a>
      <h3>Amazon Reviews</h3>
      <div class="reviews">
        <div class="review">
          <p class="mb-0">The quirky characters navigate the challenges of sustaining the delicate balance of life across the galaxy while simultaneously attempting not to kill each other along the way. The Interstellar Spring series is a fantastic read for anyone who likes episodic mystery books or a unique perspective on eco-scifi.</p>
          <em class="text-success">~Brian Becker</em>
        </div>
        <div class="review">
          <p class="mb-0">The quirky characters navigate the challenges of sustaining the delicate balance of life across the galaxy while simultaneously attempting not to kill each other along the way. The Interstellar Spring series is a fantastic read for anyone who likes episodic mystery books or a unique perspective on eco-scifi.</p>
          <em class="text-success">~Brian Becker</em>
        </div>
        <div class="review">
          <p class="mb-0">The quirky characters navigate the challenges of sustaining the delicate balance of life across the galaxy while simultaneously attempting not to kill each other along the way. The Interstellar Spring series is a fantastic read for anyone who likes episodic mystery books or a unique perspective on eco-scifi.</p>
          <em class="text-success">~Brian Becker</em>
        </div>
      </div>
    </div>
  </div>
  <a name="story"><div class="story"></a>
    <h3>Story</h3>
    <p>In episode two of Interstellar Spring, Captain Catalina Mondragon and her crew of Interstellar Ecologists are called upon to save a planet from an infestation of mutant crabs intent on eating every drop of carbon they can find, even if it’s inside of living people. </p>
    <p>About Interstellar Spring: A century ago mankind looked for life in the stars… and found nothing. Not a bug, not a plant, not even a protozoa. With Earth on the brink of environmental collapse Earth’s most tenacious organisms were loaded on unmanned probes and sent out in hopes up jumpstarting ecosystems on 51 alien worlds for future colonists. </p>
    <p>Interstellar Spring is a story about a crew of Interstellar Ecologists tasked with keeping these fragile and bizarre ecosystems healthy enough for human life. Diamondcrabs and Mangoes picks up right where Fireflies and Cosmos leaves off, with the Artemis answering a distress call to save the planet, Juxor, from a plague of flesh-eating crabs. Catalina and her crew hope to solve the problem quickly, but things get out of hand as the crabs' strange powers overwhelm even the crew of the mighty Artemis. While Ikamon and Roman work to understand the crabs, Farah meets the Iris, the woman in charge of the planet's government and breeding program. With Ikamon missing his wife and Roman distracted by a beautiful doctor, Osha McKenna, will our Interstellar Ecologists be able to save Juxor and the oceans of carbon-rich sludge they export to the rest of the Seeded Worlds? Find out in Diamondcrabs and Mangoes!</p>
  </div>
  <div class="container">
    <a name="excerpt"><div class="excerpt"></a>
      <img src="/images/pressed-flower.jpg">
      <div class="words">
        <h3>Excerpt</h3>
        <p>Mankind has always looked to the stars in hopes of finding signs of life. We found nothing. No insects, no plants, no bacteria. Nothing. A century ago, with the Earth on the verge of total environmental collapse, the Institute for Organic Expansion launched 51 Seedpods equipped with FTL Bubbledrives and loaded with eggs, seeds and spores and sent them to empty Earth-like planets to give mankind somewhere to go once Earth was used up. It worked, mostly. Now, Interstellar Ecologists stabilize these young, planetary ecosystems to strengthen mankind’s place in a lifeless galaxy. </p>
        <p>Catalina Solaris Xao Mondragon is the greatest Captain to ever serve Institute, and the first to admit she's nothing without her crew of Ecologists. When Catalina loses her Entomologist to a swarm of horrible insects evolved on one of the Seeded Worlds, she must scramble to find a replacement who can find a way to stop the monsters that ate her last one. But the only bug-guy Catalina knows who is good enough to work on the Institute’s finest Organic ship is her ex-boyfriend, and he has the infuriating habit of falling in love with a different woman on every Seeded World he visits. </p>
        <p>Roman Jupiter is her best bet to understand the monstrous bugs that killed Dr. Mercurian, and surely a few bruised feelings are worth a planet? Catalina thinks it is worth the risk, even if her crew of Interstellar Ecologists have other feelings about Jupiter and his lousy poetry. </p>
        <p>Interstellar Spring is a humorous space opera about love in all of its forms: be it for the brave people who try to do what they believe in, or the wondrous flora and fauna who really run the worlds around us.</p>
      </div>
    </div>
    <a href="#top" class="btn btn-info top-button">Top</a>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
