<div id="spring-book-3" v-cloak>
  <div class="top-bar">
    <header id="top-bar-nav" class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
      <div class="nav-links">
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/fiction">Fiction</a>
        <a class="navbar-link" href="/games">Games</a>
        <a class="navbar-link" href="/blogs">Blogs</a>
        <a class="navbar-link" href="/contact">Contact</a>
      </div>
    </header>
  </div>

  <a name="top"><div class="cover-background"></a>
    <h1>Iceoaks and Warblers</h1>
    <div class="links">
      <a href="https://www.amazon.com/Iceoaks-Warblers-Interstellar-Spring-Book/dp/1521736030/ref=pd_sim_14_2?_encoding=UTF8&pd_rd_i=1521736030&pd_rd_r=4c9e1816-9c0c-11e8-a62b-79eb5ed99a3b&pd_rd_w=6R6Ew&pd_rd_wg=aEuGf&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=a180fdfb-b54e-4904-85ba-d852197d6c09&pf_rd_r=ZBED4GXS852N898HA6WD&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=ZBED4GXS852N898HA6WD" target="_blank"><h3>Buy now</h3></a>
      <a href="#story"><h3>Story</h3></a>
      <a href="#excerpt"><h3>Excerpt</h3></a>
      <a href="#reviews"><h3>Reviews</h3></a>
    </div>
    <div class="book-cover">
      <img src="/images/iceoaks-cover.jpg">
    </div>
  </div>
  <div class="container">
    <a name="reviews"><div class="review-section"></a>
      <h3>Amazon Reviews</h3>
      <div class="reviews">
        <div class="review">
          <p class="mb-0">The quirky characters navigate the challenges of sustaining the delicate balance of life across the galaxy while simultaneously attempting not to kill each other along the way. The Interstellar Spring series is a fantastic read for anyone who likes episodic mystery books or a unique perspective on eco-scifi.</p>
          <em class="text-success">~Brian Becker</em>
        </div>
        <div class="review">
          <p class="mb-0">Boldly sailing to pre-seeded planets like interstellar eco-sleuths/sheriffs, this first of I hope many tales introduces a cast of strong female characters and one outrageous entomologist I first wanted to slap then ended up wanting to adopt and study behind glass. Lovers of Magical Beasts and Where to Find Them, Forensic Entomologists, and those who enjoy flowery turns of pen will delight in a his tale!!!</p>
          <em class="text-success">~Alicia Wong</em>
        </div>
        <div class="review">
          <p class="mb-0"> Great read! The wit and depth of each character pulls you in. The adventure and love of nature keeps you hooked. This is not my usual go to genre, but I couldn't put it down. Check this series out; you will not be disappointed.</p>
          <em class="text-success">~John Wiliiams</em>
        </div>
      </div>
    </div>
  </div>
  <a name="story"><div class="story"></a>
    <h3>Story</h3>
    <p>In Book 3 of Interstellar Spring, Captain Catalina Mondragon and her crew find themselves at the mercy of scoundrels armed with both ancient and futuristic weapons in a region of space not beholden to the Charter. </p>
    <p>In an effort to get to Epsilon-V and learn about the monstrous insects that killed their last Entomologist, the crew of the Artemis must pass through a region of space where violence is still used to solve problems. While there, Fin Zerog must confront a scorned lover and a pilot maybe even more skilled than herself. Farah Relkor, despite years of experience as an Interstellar Botanist, drags her husband through a field of poison ivy. Osha McKenna tries to distract herself with conspiracy theories about secret aliens before she must rescue her crush, Roman Jupiter, who falls in love with a moody, techno-genius of a princess. Captain Mondragon learns more about the mysterious disease that killed her father and is forced to grapple with what it really means to be a Captain for the Institute and a champion of the Charter. </p>
    <p>Iceoaks and Warblers starts with a meal on the organic ship, the Artemis, but by the end of this book our intrepid Interstellar Ecologists must maneuver melting permafrost, falling trees, squirrel gardeners, disgruntled old men, garish songbirds and handcrafted shotguns if they have any hope of returning to a part of the Galaxy that shows them the respect they deserve. Iceoaks and Warblers is the third book in the Interstellar Spring series, and has the same sort of ecological, humorous and sensual details that readers enjoyed in the previous installments.</p>
  </div>
  <div class="container">
    <a name="excerpt"><div class="excerpt"></a>
      <img src="/images/pressed-flower.jpg">
      <div class="words">
        <h3>Excerpt</h3>
        <p>Mankind has always looked to the stars in hopes of finding signs of life. We found nothing. No insects, no plants, no bacteria. Nothing. A century ago, with the Earth on the verge of total environmental collapse, the Institute for Organic Expansion launched 51 Seedpods equipped with FTL Bubbledrives and loaded with eggs, seeds and spores and sent them to empty Earth-like planets to give mankind somewhere to go once Earth was used up. It worked, mostly. Now, Interstellar Ecologists stabilize these young, planetary ecosystems to strengthen mankind’s place in a lifeless galaxy. </p>
        <p>Catalina Solaris Xao Mondragon is the greatest Captain to ever serve Institute, and the first to admit she's nothing without her crew of Ecologists. When Catalina loses her Entomologist to a swarm of horrible insects evolved on one of the Seeded Worlds, she must scramble to find a replacement who can find a way to stop the monsters that ate her last one. But the only bug-guy Catalina knows who is good enough to work on the Institute’s finest Organic ship is her ex-boyfriend, and he has the infuriating habit of falling in love with a different woman on every Seeded World he visits. </p>
        <p>Roman Jupiter is her best bet to understand the monstrous bugs that killed Dr. Mercurian, and surely a few bruised feelings are worth a planet? Catalina thinks it is worth the risk, even if her crew of Interstellar Ecologists have other feelings about Jupiter and his lousy poetry. </p>
        <p>Interstellar Spring is a humorous space opera about love in all of its forms: be it for the brave people who try to do what they believe in, or the wondrous flora and fauna who really run the worlds around us.</p>
      </div>
    </div>
    <a href="#top" class="btn btn-info top-button">Top</a>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
