<div id="about" v-cloak>
  <div class="top-bar">
    <header id="top-bar-nav" class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
      <div class="nav-links">
        <a class="navbar-link" href="/fiction">Fiction</a>
        <a class="navbar-link" href="/games">Games</a>
        <a class="navbar-link" href="/blogs">Blogs</a>
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/contact">Contact</a>
      </div>
    </header>
  </div>
  <div class="container mt-5">
    <h1>About</h1>
    <div class="top-picture">
    </div>
    <div class="questions">
      <h2>Q&A</h2>
      <p class="question">What names do you go by? </p><p class="answer">My pen name is J. Darris Mitchell because “Joe” doesn’t look good on the cover of a book. I also go by Hey-dude-Mitch, Jose Hell, and (embarrassing but true) Papa Bear</p>
      <div class="flip-container float-left mr-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="/images/fancy-beards.jpg">
          </div>
          <div class="back">
            <img src="/images/fancy-beards.jpg">
          </div>
        </div>
      </div>
      <p class="pictured-q">What kind of distinguishing facial features do you have? </p>
      <p class="pictured-a">I have an award winning RED beard. Seriously, best beard grown from a baby face in 6 months. Ask the local radio DJ. She knows. She touched it. </p>
      <p class="question">Where were you born? Where do you call home? </p><p class="answer">I was born in Detroit Michigan, but have lived in Austin Texas since I was five years old. I got all my schoolin’ here. Only ever left to spend a year in Japan, well and vacations.</p>
      <div class="flip-container float-left mr-3" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="/images/xena-tat.jpg">
          </div>
          <div class="back">
            <img src="/images/xena-tat.jpg">
          </div>
        </div>
      </div>
      <p class="pictured-q">Do you have a birthmark? </p>
      <p class="pictured-a">No but I have tattoos. Godzilla on one calf, a Beholder on the other, a scifi sleeve featuring Barberlla, and Xena’s chakram to honor my mommy. I… I really like sci-fi.</p>
      <p class="question">Where do you go when your angry?</p>
      <p class="answer"> Worlds that don’t exist outside of a book. </p>
      <p class="question">What makes you laugh out loud? </p>
      <p class="answer">Well-played Dungeons and Dragons.</p>
      <div class="flip-container float-left mr-3 mt-2" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img src="/images/family.jpg">
          </div>
          <div class="back">
            <img src="/images/family.jpg">
          </div>
        </div>
      </div>
      <p class="pictured-q">Have you been in love?</p>
      <p class="pictured-a">I’m married to my highschool sweetheart. Have been for 12 years now. We’ve travelled the world together, and are building a family and a future. I love her more than anyone (except for maybe the little human she grew)</p>
      <p class="question">What is your biggest fear?</p>
      <p class="answer"> Everyone I love downloaded into a super computer as a way to beating death/boredom. They then stop doing cool shit because their computer version is the ‘real them’ and they spend all their time watching themselves. Then someone stumbles on the cord to the mainframe and they’re all gone forever and I’m stuck with the boring lazy versions who don’t know what to do now that their digital selves are gone. Ugh. </p>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
