<div id="blogs" v-cloak>
  <div class="top-bar">
    <header id="top-bar-nav" class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
      <div class="nav-links">
        <a class="navbar-link" href="/fiction">Fiction</a>
        <a class="navbar-link" href="/games">Games</a>
        <a class="navbar-link" href="/blogs">Blogs</a>
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/contact">Contact</a>
      </div>
    </header>
  </div>
  <div class="container mt-5">
    <h1>Blogs</h1>
    <div class="top-picture">
    </div>
    <div class="blog-list">
<!--       <div class="blog">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="/images/plants.jpg">
            </div>
            <div class="back">
              <img src="/images/plants.jpg">
              <p>Quasar paroxysm of global death a billion trillion prime number hearts of the stars Apollonius of Perga? Two ghostly white figures in coveralls and helmets are soflty dancing something incredible is waiting to be known.</p>
            </div>
          </div>
        </div>
        <h4 class="name">Hierbas Buenas</h4>
      </div> -->
      <div class="blog">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="/images/blog-bbb01.jpg">
            </div>
            <div class="back">
              <img src="/images/blog-bbb01.jpg">
              <p>Joe, his darling wife, and a stuffed bear intrepidly travelled through Europe on a shoe-string budget. Goats were milked, trains were missed, and former brothels were slept in. Rest assured shenanigans transpired in at least six countries.</p>
            </div>
          </div>
        </div>
        <a href="http://beardbabebear.blogspot.com/2015_04_19_archive.html" target="_blank"><h4 class="name">The Beard, The Babe and The Bear</h4></a>
      </div>
      <div class="blog">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <img src="/images/blog-bk01.jpg">
            </div>
            <div class="back">
              <img src="/images/blog-bk01.jpg">
              <p>The Bearded Kaiju chronicles a year of life in Hida-Takayama. Joe teaches English, participates in bizarre festivals, and undergoes surgery in a wild mountain town. If you have ever wanted to teach abroad or explore Japan's hidden countryside this is the blog for you.</p>
            </div>
          </div>
        </div>
        <a href="http://thebeardedkaiju.blogspot.com/2014/07/Eatfishdontpetfish.html" target="_blank"><h4 class="name">The Bearded Kaiju</h4></a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
