<div id="fiction" v-cloak>
  <div class="top-bar">
    <header id="top-bar-nav" class="navbar navbar-expand-sm navbar-dark flex-column flex-md-row justify-content-between">
      <a class="navbar-brand mr-0" href="/">J Darris Mitchell</a>
      <div class="nav-links">
        <a class="navbar-link" href="/fiction">Fiction</a>
        <!-- <a class="navbar-link" href="/inprogress">In the works</a> -->
        <a class="navbar-link" href="/games">Games</a>
        <a class="navbar-link" href="/blogs">Blogs</a>
        <a class="navbar-link" href="/about">About</a>
        <a class="navbar-link" href="/contact">Contact</a>
      </div>
    </header>
  </div>
    <div class="container mt-5">
      <h1>Fiction</h1>
      <div class="top-picture">
      </div>
      <div class="books">
        <h3>Intersteller Spring</h3>
        <div class="intersteller-spring">
          <div class="book-1">
            <a href="/fiction/spring/fireflies"><img class="book-cover" src="/images/fireflies-cover.jpg"></a>
            <h5 class="title">Fireflies and Cosmos</h5>
            <div class="links">
              <a class="btn btn-primary amazon" target="_blank" href="https://www.amazon.com/Fireflies-Cosmos-Interstellar-Spring-Book/dp/1521008051/ref=pd_sim_14_2?_encoding=UTF8&pd_rd_i=1521008051&pd_rd_r=268c6da3-9738-11e8-adb6-57887ff1785a&pd_rd_w=1279U&pd_rd_wg=lREl8&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=a180fdfb-b54e-4904-85ba-d852197d6c09&pf_rd_r=G2JDXHEED0AKQKGQEYYB&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=G2JDXHEED0AKQKGQEYYB">Buy now</a>
              <!-- <a class="link-to other" href=""><img src="/images/smashwords-logo.png"></a> -->
              <a class="btn btn-info more" href="/fiction/spring/fireflies">More</a>
            </div>
          </div>
          <div class="book-2">
            <a href="/fiction/spring/diamondcrabs"><img class="book-cover" src="/images/diamond-cover.jpg"></a>
            <h5 class="title">Diamandcrabs and Mangoes</h5>
            <div class="links">
              <a class="btn btn-primary amazon" target="_blank" href="https://www.amazon.com/Diamondcrabs-Mangoes-Interstellar-Spring-Book/dp/1521206309/ref=pd_bxgy_14_img_2?_encoding=UTF8&pd_rd_i=1521206309&pd_rd_r=8e6e0ea3-9738-11e8-820a-e37f2a2f8816&pd_rd_w=V162w&pd_rd_wg=Xdm2F&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=7ca3846a-7fcf-4568-9727-1bc2d7b4d5e0&pf_rd_r=G6QQP18VCTEKYTAW7F3E&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=G6QQP18VCTEKYTAW7F3E">Buy now</a>
              <!-- <a class="link-to other" href=""><img src="/images/smashwords-logo.png"></a> -->
              <a class="btn btn-info more" href="/fiction/spring/diamondcrabs">More</a>
            </div>
          </div>
          <div class="book-3">
            <a href="/fiction/spring/iceoaks"><img class="book-cover" src="/images/iceoaks-cover.jpg"></a>
            <h5 class="title">Iceoaks and Warblers</h5>
            <div class="links">
              <a class="btn btn-primary amazon" target="_blank" href="https://www.amazon.com/Iceoaks-Warblers-Interstellar-Spring-Book/dp/1521736030/ref=pd_sim_14_2?_encoding=UTF8&pd_rd_i=1521736030&pd_rd_r=074b53ce-9738-11e8-820a-e37f2a2f8816&pd_rd_w=7GSgT&pd_rd_wg=iCok3&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=a180fdfb-b54e-4904-85ba-d852197d6c09&pf_rd_r=G1VHNCC7XSDPAC2TBC19&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=G1VHNCC7XSDPAC2TBC19">Buy now</a>
              <!-- <a class="btn other" href=""><img src="/images/smashwords-logo.png"></a> -->
              <a class="btn btn-info more" href="/fiction/spring/iceoaks">More</a>
            </div>
          </div>
        </div>
<!--         <div class="book-bars">
          <h4>In the works:</h4>
          <div class="book-progress">
            <p>Prequel: Roman and Cat</p>
            <div class="book-progress-bar short"><span class="bar-5"></span></div>
          </div>
        </div> -->
<!--         <hr>
        <h3 class="mt-5">Spider Princes</h3>
        <div class="book-bars">
          <h4>In the works:</h4>
          <div class="book-progress">
            <p>Congradualtions to The Spider Queen: Copy edits </p>
            <div class="book-progress-bar  long"><span class="bar-90"></span></div>
          </div>
          <div class="book-progress">
            <p>Skeletons in the closet: Copy edits </p>
            <div class="book-progress-bar  long"><span class="bar-80"></span></div>
          </div>
          <div class="book-progress">
            <p>Stealheart Breakapart: Second draft </p>
            <div class="book-progress-bar  long"><span class="bar-60"></span></div>
          </div>
          <div class="book-progress">
            <p>Hammer Yammer: Rough draft </p>
            <div class="book-progress-bar  long"><span class="bar-100"></span></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
