<div id="homepage" v-cloak>
  <div class="full-screen">
    <div class="full-image">
      <div class="text-and-buttons">
        <div class="title">
          <h1>J Darris Mitchell</h1>
          <h3>World Builder | Writer | Naturalist </h3>
        </div>
        <div class="button-row">
          <a class="btn btn-outline-primary" href="/fiction">Fiction</a>
          <a class="btn btn-outline-primary" href="/games">Games</a>
          <a class="btn btn-outline-primary" href="/blogs">Blogs</a>
          <a class="btn btn-outline-primary" href="/about">About me</a>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
