<div id="inprogress" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/inprogress.less</em>, <em>assets/js/pages/inprogress.page.js</em>, and <em>api/controllers/view-inprogress.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
